<!DOCTYPE html>
<html ng-app="my-app">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link href="css/style.css" rel="stylesheet" type="text/css" /> 
</head>
<body class="" ng-controller="main-controller">

<div class="main">
	<br>
    <textarea placeholder="输入文本：月球上能看到长城" ng-model="inputText" class="paragraph-box"></textarea>
    <br>
    <input type="submit" value="Submit" ng-click="submit()">
</div>


<script src="lib/jquery-2.1.1.js"></script>
<script src="lib/angular.js"></script>
<script src="lib/angular-ui-router.js"></script>
<script src="lib/ui-bootstrap-tpls-0.12.0-SNAPSHOT.min.js"></script>
<script src="lib/lodash.js"></script>

<script src="main-module.js"></script>
<script src="controllers/main-controller.js"></script>

</body>
</html>